.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;

    .cart-total button{
        margin-top: 30px;
    }
}

.place-order-left{
    width: 100%;
    max-width: (max(30%,500px));

    .title{
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
    }

    input{
        margin-bottom: 15px;
        width: 100%;
        padding: 10px;
        border:  1px solid #c5c5c5;
        border-radius: 4px;
        outline-color: tomato;
    }

    .multi-fields{
        display: flex;
        gap: 10px;

    }
}

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px) ;
}

.btnn{
    display: block;
    margin: auto;
    border: none;
    color: white ;
    background-color: tomato;
    width: max(80vw,200px);
    height: 30px;
    /* padding: 12px 0px; */
    border-radius: 4px;
    cursor: pointer;
    
}


@media (max-width:750px){
    .place-order{
        display: block;

        .cart-total button{
            
           width: 60%;
           margin: auto;
           margin-top: 20px;
        }
        
    }
    .place-order-right{
        margin-top: 30px;
    }
}