.home-container{
    padding: 30px 40px;
}

.search-results-page{
    padding: 30px 40px;
    min-height: 50vh;
}

.search-results-page h2{
    color: #49557e;
    margin-bottom: 20px;
    font-size: 28px;
}

